@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Search results";
}

<h2>Search results</h2>

















<p>
    @Html.ActionLink("Back", "Index", "Home", null, null);
</p>